@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app {
  height: 100%;
  font: var(--font-m);
  background-color: var(--c-background);
  color: var(--c-primary);
}
